<div class="flex items-center justify-center h-full">
    <div class="sm:px-6 lg:px-8 flex flex-col items-center">
        <div class="flex flex-col mb-6">
            <a href="#"><img class="w-16" src="/AXA_LOGO.png" alt="Logo" srcset=""> </a>
        </div>
        <div class="flex-col p-4 md:p-5 bg-white shadow-lg max-w-[405px]">
            <h1 class="text-xl font-semibold text-center text-primary-400 py-4 px-8">
                Mot de passe oublié ?
            </h1>
            <div class="gap-x-6 py-4">
                <p class="text-m font-medium text-center text-primary-400"> Entrez votre adresse e-mail pour recevoir les instructions de réinitialisation du mot de passe </p>
                @if (formAuthentification) {
                    <form [formGroup]="formAuthentification" (ngSubmit)="submitAuth()">
                        <div class="flex py-6 justify-around grid grid-cols-1 gap-4">
                            <div>
                                <label for="username" class="block text-xs font-semibold mb-2">Email</label>
                                <div class="relative">
                                <input id="username" (input)="changeInput('username')" formControlName="username" type="email" class="shadow-[inset_0_1px 2px rgba(0, 0, 0, 0.075)] peer py-3 px-4 ps-11 block w-full border border-gray-300 focus:border-primary-400 focus:ring-primary-400 text-sm disabled:opacity-50 disabled:pointer-events-none" placeholder="Email">
                                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="shrink-0 size-4 text-gray-500">
                                        <rect width="20" height="16" x="2" y="4" rx="2"/>
                                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
                                    </svg>
                                </div>
                                </div>
                                @if (formAuthentification.get('username')?.errors != null && formAuthentification.get('username')?.dirty) {
                                    <p class="text-sm text-danger mt-2">{{ formAuthentification.get('username')?.errors?.required ? "" : "Veuillez vérifier les informations d’identification saisies" }}</p>
                                }
                            </div>
                        </div>
                        <div class="mt-5 flex flex-col gap-x-2">
                            <button type="submit" class="py-2 px-3 gap-x-1 text-l size-full font-semibold border border-transparent bg-primary-400 text-white hover:bg-primary-100 focus:outline-none focus:bg-primary-100 disabled:opacity-50 disabled:pointer-events-none">
                                Confirmer
                            </button>
                            <div class="flex justify-between">
                                <a class="flex text-sm font-semibold justify-start text-primary-400 pt-6" href="/login"> Retour</a>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
        @if(toast) {
            <!-- Toast -->
            <div class="max-w-xs bg-gray-500 text-sm text-white rounded-xl shadow-lg" role="alert" tabindex="-1" aria-labelledby="hs-toast-solid-color-gray-label">
                <div id="hs-toast-solid-color-gray-label" class="flex p-4">
                Hello, world! This is a toast message.
    
                <div class="ms-auto">
                    <button type="button" class="inline-flex shrink-0 justify-center items-center size-5 rounded-lg text-white hover:text-white opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                    </button>
                </div>
                </div>
            </div>
            <!-- End Toast -->
        }
    </div>
</div>
