.value{
    color: #00008F;
    font-weight: 600;
    
}
table{
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%;
}
table td{
    border-bottom: 1px solid rgba(221, 221, 221, 0.541);
}